header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 300px;
    background-color: #ccc; 
}
.header > h1 {
    margin: 10px 0 100px 0px;
    text-align: center;
}

body {
    background-color: #999;
}
.header > a {
    color:  black;
    font-weight: 500;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px 0;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


input,select {
    margin: 6px 0;
    width: 200px;
    height: 25px;   
    font-size: 1.2rem;
}

#row2 {
    display: flex;
    justify-content: center;
    align-items:  center;
}

th {
    font-size: 1.6rem;
    font-weight: 500;
}